.container input{
    /* background-image: ; */
    color: white;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    border: 2px dashed red;
    margin: 2px;
    font-size: xx-large;
}
.calculator input{
    width: 410px;
    height: 55px;
    border-radius: 3px dotted rebeccapurple;
    background-color: lightcyan;
    font-size: xx-large;
}

.full{
    border: 10px solid grey;
    margin: 2px;
    padding: 12px;
    width: 417px;
    border-radius: 20px;
    /* background-image: 0; */
}